body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-color: #33d124;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #070000;
    background: chartreuse;

    
 
    padding: 10px 20px 10px 20px;
    cursor: all;
    transition: all 2s;
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
    box-shadow: 0.1rem 0.2rem 0.1rem 0.2rem  rgb(11, 247, 3);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1rem 1rem 1rem 1rem;
}


main {
    padding: 20px;
    background: #f9f9f9;
}

.about-us {
    text-align: center;
}

.about-us h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
}

.about-us h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about-texto{
    text-align: justify;
    max-width: 50%;
}
.about-imagen{
    max-width: 50%;
    height: auto;
}
.statistics {
    text-align: center;
    padding: 40px 20px;

    background-color: rgb(7, 5, 17);
}

.statistics h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}
.statistics h1{
    color: white;

}

.stats {
    display: flex;
    justify-content: space-around;
    color: white;

}

.stat {
    text-align: center;
    color: white;
    background-color: white;
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
    padding: 10px 10px 10px 10px;
    cursor: all;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 1rem 1rem 1rem 1rem;

}

.stat a{
    
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.stat h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.stat h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #070000;

}

footer {
    background-color: #080820;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .app-download button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
.app-download a{
    background: #9db39e;
    color: rgb(7, 7, 7);
    margin: 5px 5px 5px 5px;
    padding:  5px 5px 5px 5px;
    cursor: pointer;
    transition: all 2s;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem  rgb(157, 185, 138);
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.app-download h3{
    color: white;
 
}
.footer-bottom{
    color: white;
}
.social-icons a{
    background: #91b2be;
    color: rgb(7, 7, 7);
    margin: 5px 5px 5px 5px;
    padding:  5px 5px 5px 5px;
    cursor: pointer;
    transition: all 2s;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem  rgb(40, 92, 5);
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 10px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}






